/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {    
  /*HREO AREA */
  #top-content{max-height: 660px;}    
  
  /* FEATURED CLIENTS SECTION*/
  #register img{height: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
  
  /*HREO AREA */
  #top-content{height: 100%;}
  
  /*ABOUT SECTION*/

  
  /* FEATURED CLIENTS SECTION*/
  #register {text-align: center;}
  #register img{height: 40px;}
  #register ul{float: none;}
  #register h4 {display: none;}
  
  /* PORTFOLIO SECTION */
  #shotsByPlayerId li{width: 47%;}
  #shotsByPlayerId li:first-child{width: 97%;}
  
  .myphoto{text-align: center;}

  /*COLLUPSABLE NAVIGATION MENU*/
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {float: none !important;}
  .navbar-toggle {display: block;}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav>li {
    float: none;
    padding-left: 30px;
    overflow: hidden;
  }
  .collapse.in{display:block !important;}
  #register{
    margin-top: unset;
  }
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {
  
  h2 {font-size: 1.9em;}
  h3{font-size: 1.5em}
  h4{font-size: 1.1em;}
  
  
  .myphoto{display: none;}

  
  /*top-content area*/
  #top-content{line-height: 30px; height: 100%;}    
  .slogan{padding-top: 30px;padding: 40px;}
  
  /*About section*/
  
  /*Portfolio*/
  #shotsByPlayerId li {width: 96%;}
       
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
  #top-content{line-height: 38px; height: 100%;}    
  #register {display: none;}
  .footersocial li{font-size: 1.5em}
  .slogan{font-size: 28px;padding: 45px;}
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
  #top-content{line-height: 30px; height: 100%;}
  .slogan{padding-top: 100px; padding-bottom: 30px;font-size: 21px;padding: 50px;}
}
